.form__button {
  width: 358px;
  min-height: 50px;
  background-color: black;
  color: white;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 45px auto 37px;
  transition: opacity 1s ease;
  border-radius: 2px;
  padding: 0;
  border: 0 black;
}

.form__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .form__button {
    font-size: 14px;
    line-height: 17px;
    width: 238px;
    min-height: 46px;
    margin-top: 45px;
    margin-bottom: 25px;
  }
}
