.profile__button-added {
  width: 150px;
  height: 50px;
  border: solid 2px #ffffff;
  padding: 0;
  background-image: url(../../../images/Vector.svg);
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 1s ease;
  background-size: 22px 22px;
}

.profile__button-added:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .profile__button-added {
    width: 100px;
    height: 35px;
  }
}

@media screen and (max-width: 767px) {
  .profile__button-added {
    width: 282px;
    height: 50px;
    margin-top: 36px;
    background-size: 16px 16px;
  }
}
