.cards__desc {
  display: flex;
  padding: 22px 15px 22px 21px;
  min-width: 246px;
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .cards__desc {
    padding-bottom: 25px;
  }
}
