.form__input {
  width: 358px;
  min-height: 27px;
  border: 0 white solid;
  border-bottom: 1px grey solid;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 17px;
  padding: 0;
  box-sizing: border-box;
}

.form__input:last-of-type {
  margin-bottom: 0;
}

.form__input::placeholder {
  color: #000000;
  font-weight: 400;
  margin-bottom: 13px;
}

@media screen and (max-width: 767px) {
  .form__input {
    width: 238px;
    height: 14px;
  }
}
