.profile__avatar_edit {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
  background-image: url("../../../../images/editPencil.svg");
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position: center;
  width: 120px;
  height: 120px;
  cursor: pointer;
}
