.profile__wrapper {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .profile__wrapper {
    justify-content: center;
    padding-left: 46px;
    padding-right: 19px;
  }
}
